services:
  mongodb:
    image: mongo:latest
    container_name: dtpl-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongodb:/data/db

  qdrant:
    image: qdrant/qdrant:latest
    container_name: dtpl-qdrant
    restart: unless-stopped
    ports:
      - "6333:6333"
    volumes:
      - ./data/qdrant:/qdrant/storage

  redis:
    image: redis:latest
    container_name: dtpl-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server
    volumes:
      - ./data/redis:/data
